<div class="container">
  <h1>Categories</h1>
  <br>
    <section class="carousel">
      <h3>Produits frais</h3>
      <ul class="carousel-items">
        <% @categories_frais.each do |categorie_frais| %>
          <div class="col-12 col-sm-7 col-md-3">
              <div id="mycategory" class="card-category" data-category-id="<%= categorie_frais.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path(categorie_frais.photo_url) %>)">
                <%= categorie_frais.name %>
                <li class="carousel-item"></li>
              </div>
          </div>
        <% end %>
      </ul>
    </section>
    <section class="carousel">
      <h3>Produits ménagers</h3>
      <ul class="carousel-items">
        <% @categories_entretien.each do |categorie_entretien| %>
          <div class="col-12 col-sm-7 col-md-3">
            <div id="mycategory" class="card-category" data-category-id="<%= categorie_entretien.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path(categorie_entretien.photo_url) %>)">
              <%= categorie_entretien.name %>
              <li class="carousel-item"></li>
            </div>
          </div>
        <% end %>
      </ul>
    </section>

  <div class="products">
    <% @products.each do |product| %>
      <% card_classes = product.is_in_user_cart?(current_user) ? "card-product added-to-cart card-hidden" : "card-product card-hidden" %>
      <div class="<%= card_classes %>" data-product-id="<%= product.id %>" data-category-id="<%= product.category.id %>">
        <div class="card-front" style="background-image: url(<%= image_url(product.photo_url) %>)"></div>
        <div class="card-back" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(<%= image_url(product.photo_url) %>) ">
          <div id="myproducer" class="producer" data-producer-id="<%= product.producer.id %>">
            <div class="producer-img"><%= image_tag(product.producer.photo_url) %></div>
            <p><%= product.producer.name %>, producteur</p>
          </div>
          <div class="product">
            <div class="product-details">
              <p class="price-quantity"><%= product.price %>€<%= product.description %></p>
              <p class="product-name"><%= product.name %></p>
              <div class="location">
                <i class="fas fa-location-arrow"></i>
                <p><%= product.producer.location %></p>
              </div>
            </div>
          </div>
          <div class="cart-form">
            <%= simple_form_for([ product, CartItem.new(product: product) ], remote: true) do |f| %>
              <%= f.input :product_id, as: :hidden %>
              <%= f.button :submit, class: "btn btn-success" %>
              <%# <i class="fas fa-shopping-basket"></i> %>
            <% end %>
          </div>
          <div class="added-to-cart-btn"><%= image_tag "checked" %></div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="navigation-buttons">
    <% if current_user.cart_items.count > 0  %>
      <%= link_to "Afficher mon panier (#{current_user.cart_items.count}) >",cart_path, class: "btn-yellow", id: "cart-button"%>
    <% end  %>
  </div>

</div>

<% @products.each do |product| %>
  <div id="myModal" class="modal" data-producer-id="<%= product.producer.id %>">
    <div class="modal-content" >
      <div class="modal-header" style="background-image: url(<%= image_url(product.photo_url) %>)">
      <span class="close">&times;</span>
      </div>
      <div class="modal-image">
        <%= image_tag(product.producer.photo_url) %>
      </div>
      <div class="modal-body">
        <h3><%= product.producer.name %>, de <%= product.producer.location %></h3>
        <p><%= product.producer.description %></p>
      </div>
    </div>
  </div>
<% end %>
