<div class="container">
  <h1>Categories</h1>
    <section class="carousel">
      <ul class="carousel-items">
        <% @categories.each do |category| %>
          <div class="col-12 col-sm-7 col-md-3">
              <div id="mycategory" class="card-category" data-category-id="<%= category.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path(category.photo_url) %>)">
                <%= category.name %>
                <li class="carousel-item"></li>
              </div>
          </div>
        <% end %>
      </ul>
    </section>


  <div class="products">
    <% @products.each do |product| %>
      <% card_classes = product.is_in_user_cart?(current_user) ? "card-product added-to-cart card-hidden" : "card-product card-hidden" %>
      <div class="<%= card_classes %>" data-product-id="<%= product.id %>" data-category-id="<%= product.category.id %>">
        <div class="card-front" style="background-image: url(<%= image_url(product.photo_url) %>) "></div>
        <div class="card-back" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)),url(<%= image_url(product.photo_url) %>) ">
          <div class="producer">
            <div class="producer-img"><%= image_tag(product.producer.photo_url) %></div>
            <p><%= product.producer.name %>, producteur</p>
          </div>
          <div class="product">
            <div class="product-details">
              <p class="price-quantity"><%= product.price %>€<%= product.description %></p>
              <p class="product-name"><%= product.name %></p>
              <div class="location">
                <i class="fas fa-location-arrow"></i>
                <p><%= product.producer.location %></p>
              </div>
              <!-- <div class="added-to-cart-btn"><%# image_tag("checked.svg") %></div> -->
              <!-- COMMENTE CAR REDONDANT A LA LIGNE 44-46 -->
            </div>
          </div>
          <div class="cart-form">
            <%= simple_form_for([ product, CartItem.new(product: product) ], remote: true) do |f| %>
              <%= f.input :product_id, as: :hidden %>


                <%= button_tag(type: 'submit', class: "add-to-cart") do %>
                  <%= icon('fas', 'shopping-bag') %>
                <% end %>

            <% end %>
          </div>
          <div class="added-to-cart-btn"><%= image_tag "checked" %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="navigation-buttons">
    <%= link_to '^ Haut de page', categories_path, class: "btn-yellow" %>
    <%= link_to "Afficher mon panier  >", cart_path, class: "btn-yellow" %>
  </div>

</div>

