<div class="container">
  <ul>
    <% @category.products.each do |product| %>
      <li><%= product.name %></li>
      <%= image_tag image_url(product.photo_url), width: 300 %>
      <li><p><%= product.price %>€</p></li>
      <li><p><%= product.description %> </p></li>
    <% end %>
  </ul>
  <hr>
  <%= link_to 'Back', categories_path %>
</div>

  <div class="products">

    <div class="card-product">
      <div class="card-front"></div>
      <div class="card-back">
        <!-- ITERATE HERE !!! -->
        <div class="producer">
          <img src="https://source.unsplash.com/60x60/?portrait" alt="" class="producer-img">
          <p>Thierry, producteur</p>
        </div>
        <div class="product-details">
          <p class="price-quantity">4,99€/250gr</p>
          <p class="product-name">Fraises</p>
          <div class="location">
            <i class="fas fa-location-arrow"></i>
            <p>Carpentras</p>
          </div>
        </div>
      </div>

    </div>
  </div>
